{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3>Remover Fios:</h3>

<div class="card">
    <div class="card-body">
        <form action="/motor/removeWire/add" method="POST" class="forms">
        <input type="hidden" name="id" value="{{categoria._id}}" >
        <div class="row d-flex justify-content-around">
                <div class="row col-12"> 
                    <div class="divInput row">
                        <label class="label" for="client" >OS:</label>
                        <input type="text" name="os" id="os" placeholder="OS" class="input" value="{{categoria.os}}" disabled>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-around" style="margin-top:20px ;">
                <div class="row col-4">    
                    <div class="divInput row">
                        <label class="label" for="spirals">Nº Espiras:</label>
                        <input type="text" name="spirals" id="spirals" placeholder="Nº Espiras" class="input">
                        <label class="label" for="wire">Fio:</label>
                        <input type="text" name="wire" id="wire" placeholder="Fio" class="input">
                    </div>
                </div>
                <div class="row col-4">
                    <div class="divInput row">
                        <label class="label" for="connectionType">Tipo Ligação:</label>
                        <input type="text" name="connectionType" id="connectionType" placeholder="Tipo Ligação" class="input">
                        <label class="label" for="weight">Peso:</label>
                        <input type="text" name="weight" id="weight" placeholder="Peso" class="input">
                    </div>
                </div>
                <div class="row col-4">
                    <div class="divInput row" style="height:94px ;">
                        <label class="label" for="pace">Passo:</label>
                        <input type="text" name="pace" id="pace" placeholder="Passo" class="input">
                    </div>
                </div>
            </div>
               
            <br>
            <div class="d-flex flex-row-reverse"><button type="submit" class="button"><i class="fa-solid fa-floppy-disk"></i> Salvar</button></div>   
        </form>
    </div>
</div>