<script>
    window.onload = function () {
        const data = new Date().toLocaleString("pt-br");
        document.getElementById('date').innerHTML = data;
        document.getElementById('date').value = data;
        console.log(data)
    }
</script>

<h3>Reparo Motor:</h3>

<div class="card">
    <div class="card-body">
         <form action="/motor/repair" method="POST" class="forms">
            <input type="hidden" name="id" value="{{categoria._id}}" >
            <div class="row d-flex justify-content-around">
                <div class="row col-12"> 
                    <div class="divInput row">
                        <label class="label" for="client" >OS:</label>
                        <input type="text" name="os" id="os" placeholder="OS" class="input" value="{{categoria.os}}" disabled>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-around" style="margin-top: 20px;">
                <div class="row col-4">    
                    <div class="divInput row">
                        <label class="label" for="packageLength">Comprimento Pacote:</label>
                        <input type="number" name="packageLength" id="packageLength" placeholder="Comprimento Pacote"class="input" value="{{categoria.packageLength}}">
                        <label class="label" for="packageDiameter">Diâmetro Pacote:</label>
                        <input type="number" name="packageDiameter" id="packageDiameter" placeholder="Diâmetro Pacote" class="input">
                        <label class="label" for="grooves">Ranhuras:</label>
                        <input type="number" name="grooves" id="grooves" placeholder="Ranhuras" class="input">
                        <label class="label" for="leadingTip">Ponta Dianteira:</label>
                        <input type="number" name="leadingTip" id="leadingTip" placeholder="Ponta Dianteira" class="input">
                        <label class="label" for="frontBearing">Rolamento Dianteiro:</label>
                        <input type="text" name="frontBearing" id="frontBearing" placeholder="Rolamento Dianteiro" class="input">
                    </div>
                </div>
                <div class="row col-4">
                    <div class="divInput row">
                        <label class="label" for="frontRetainer">Retentor Dianteiro:</label>
                        <input type="text" name="frontRetainer" id="frontRetainer" placeholder="Retentor Dianteiro" class="input">
                        <label class="label" for="capacitor">Capacitor:</label>
                        <input type="text" name="capacitor" id="capacitor" placeholder="Capacitor" class="input">
                        <label class="label" for="rearBearing">Rolamento Traseiro:</label>
                        <input type="text" name="rearBearing" id="rearBearing" placeholder="Rolamento Traseiro" class="input"> 
                        <label class="label" for="rearRetainer">Retentor Traseiro:</label>
                        <input type="text" name="rearRetainer" id="rearRetainer" placeholder="Retentor Traseiro" class="input">
                        <label class="label" for="rearRetainer">Anel Fix.Rol.Dianteiro:</label>
                        <select class="input" id="frontRing" name="frontRing">
                            <option value="">Anel Fix.Rol.Dianteiro:</option>
                            <option value="2.5">2.5mm</option>
                            <option value="5.0">5.0mm</option>   
                        </select>
                    </div>
                </div> 
                <div class="row col-4">
                    <div class="divInput row"> 
                        <label class="label" for="rearRetainer">Tampa Dianteira:</label>
                        <select class="input" id="frontCover" name="frontCover">
                            <option value="">Tampa Dianteira:</option>
                            <option value="Nova">Nova</option>
                            <option value="Serviço">Serviço</option>
                        </select>
                        <label class="label" for="rearRetainer">Tipo Conserto:</label>
                        <select class="input" id="concertType" name="concertType">
                            <option value="">Tipo Conserto:</option>
                            <option value="Revisão">Revisão</option>
                            <option value="Rebobinar">Rebobinar</option>
                        </select>
                        <label class="label" for="rearRetainer">Anel Fix.Rol.Traseiro:</label>
                        <select class="input" id="backRing" name="backRing">
                            <option value="">Anel Fix.Rol.Traseiro:</option>
                            <option value="2.5">2.5mm</option>
                            <option value="5.0">5.0mm</option>
                        </select>
                        <label class="label" for="rearRetainer">Tampa Traseira:</label>
                        <select class="input" id="backCover" name="backCover">
                            <option value="">Tampa Traseira:</option>
                            <option value="Nova">Nova</option>
                            <option value="Serviço">Serviço</option>
                        </select> 
                        <label class="label" for="rearRetainer">Motivo da Queima:</label> 
                        <select class="input" id="burnReason" name="burnReason">
                            <option value="">Motivo da Queima</option>
                            <option value="Sobreaquecimento">Sobreaquecimento</option>
                            <option value="Falta/Fases">Falta/Fases</option>
                            <option value="Mecânica">Mecânica</option>
                            <option value="Curto/Fases">Curto/Fases</option>
                            <option value="Curto/Espiras">Curto/Espiras</option>
                            <option value="Umidade">Umidade</option>
                            <option value="Surge Reprovou">Surge Reprovou</option>
                        </select>          
                    </div>
                </div>
                <div class="row d-flex justify-content-around" style="margin-top: 20px;">
                    <div class="row col-6">
                        <div class="divCheck">                         
                            <label class="labelCheck" for="polypropyleneFan">Ventilador Polipropileno
                                <input class="check" type="checkbox" id="polypropyleneFan" name="polypropyleneFan" value="1">
                                <span class="checkmark"></span>
                            </label>
                            <label class="labelCheck" for="aluminumFan">Ventilador Alumínio
                                <input class="check" type="checkbox" id="aluminumFan" name="aluminumFan" value="1"> 
                                <span class="checkmark"></span>
                                </label>
                            <label class="labelCheck" for="connectionBoxCheck">Caixa Ligação
                                <input class="check" type="checkbox" id="connectionBoxCheck" name="connectionBoxCheck" value="1">
                                <span class="checkmark"></span>
                            </label>                          
                            <label class="labelCheck" for="deflector">Defletora
                                <input class="check" type="checkbox" id="deflector" name="deflector" value="1">
                                <span class="checkmark"></span>   
                            </label>
                            <label class="labelCheck" for="terminalBoard">Placa de Borne
                                <input class="check" type="checkbox" id="terminalBoard" name="terminalBoard" value="1">
                                <span class="checkmark"></span>
                            </label>              
                            <label class="labelCheck" for="pasta">Massa
                                <input class="check" type="checkbox" id="pasta" name="pasta" value="1">
                                <span class="checkmark"></span>
                            </label>
                            <label class="labelCheck" for="replaceFrontBearing">Trocar Rolamento Dianteiro
                                <input class="check" type="checkbox" id="replaceFrontBearing" name="replaceFrontBearing" value="1">
                                <span class="checkmark"></span>
                            </label>                       
                            <label class="labelCheck" for="replaceRearBearing">Trocar Rolamento Traseiro
                                <input class="check" type="checkbox" id="replaceRearBearing" name="replaceRearBearing" value="1">
                                <span class="checkmark"></span>
                            </label>
                            <label class="labelCheck" for="fitsKey">Encaixa Chaveta
                                <input class="check" type="checkbox" id="fitsKey" name="fitsKey" value="1">
                                <span class="checkmark"></span>
                            </label>
                            <label class="labelCheck" for="keyElectronics">Chave Part. Eletrônica
                                <input class="check" type="checkbox" id="keyElectronics" name="keyElectronics" value="1">
                                <span class="checkmark"></span>
                            </label>                         
                            <label class="labelCheck" for="brakeElectromagnet">Eletroímã de Freio Nova
                                <input class="check" type="checkbox" id="brakeElectromagnet" name="brakeElectromagnet" value="1">
                                <span class="checkmark"></span>
                            </label>                  
                            <label class="labelCheck" for="bridgeRectifier">Ponte Retificad.
                                <input class="check" type="checkbox" id="bridgeRectifier" name="bridgeRectifier" value="1">
                                <span class="checkmark"></span>
                            </label>    
                            <label class="labelCheck" for="hollowCarcass">Carcaça Oca
                                <input class="check" type="checkbox" id="hollowCarcass" name="hollowCarcass" value="1">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>                      
                    <div class="row col-6">
                        <div class="divCheck"> 
                            <label class="labelCheck" for="rewindElectromagnet">Eletroímã de Freio Rebobinar
                                <input class="check"type="checkbox" id="rewindElectromagnet" name="rewindElectromagnet" value="1">
                                <span class="checkmark"></span>
                            </label>
                            <label class="labelCheck" for="armor">Armadura
                                <input class="check" type="checkbox" id="armor" name="armor" value="1">
                                <span class="checkmark"></span>
                            </label>
                            <label class="labelCheck" for="nightclubCanvas">Disco Lona
                                <input class="check" type="checkbox" id="nightclubCanvas" name="nightclubCanvas" value="1">
                                <span class="checkmark"></span>
                            </label>                          
                            <label class="labelCheck" for="disc">Disco Pastilha
                                <input class="check" type="checkbox" id="disc" name="disc" value="1">
                                <span class="checkmark"></span>
                            </label>                          
                            <label class="labelCheck" for="brakePad">Pastilha de Freio
                                <input class="check" type="checkbox" id="brakePad" name="brakePad" value="1">
                                <span class="checkmark"></span>
                            </label>                         
                            <label class="labelCheck" for="spring">Mola
                                <input class="check" type="checkbox" id="spring" name="spring" value="1">
                                <span class="checkmark"></span>
                            </label>                      
                            <label class="labelCheck" for="centrifugal">Centrifugo
                                <input class="check" type="checkbox" id="centrifugal" name="centrifugal" value="1">
                                <span class="checkmark"></span>
                            </label>                          
                            <label class="labelCheck" for="platinum">Platinado
                                <input class="check" type="checkbox" id="platinum" name="platinum" value="1">
                                <span class="checkmark"></span>
                            </label>                          
                            <label class="labelCheck" for="capacitorCover">Capa do Capacitor
                                <input class="check" type="checkbox" id="capacitorCover" name="capacitorCover" value="1">
                                <span class="checkmark"></span>
                            </label>                         
                            <label class="labelCheck" for="makeCover">Fazer Tampa cx Ligação
                                <input class="check" type="checkbox" id="makeCover" name="makeCover" value="1">
                                <span class="checkmark"></span>
                            </label>                         
                            <label class="labelCheck" for="strap">Cinta
                                <input class="check" type="checkbox" id="strap" name="strap" value="1">
                                <span class="checkmark"></span>
                            </label>                       
                            <label class="labelCheck" for="eyelet">Olhal
                                <input class="check" type="checkbox" id="eyelet" name="eyelet" value="1">
                                <span class="checkmark"></span>
                            </label>                   
                            <label class="labelCheck" for="nameplate">Placa de Identif.
                                <input class="check" type="checkbox" id="nameplate" name="nameplate" value="1">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div><!--End div Checkbox -->
                <div class="row d-flex justify-content-around" style="margin-bottom: 10px;">
                        <div class="row lineLabel"></div><label class="txtLine" for="adaptation">Adaptação</label><div class="row lineLabel"></div>                 
                </div>
                <div class="row d-flex justify-content-around">
                    <div class="row col-4">    
                        <div class="divInput row">
                            <label class="label" for="adpConnectionBox">Caixa de Ligação:</label>
                            <input type="text" name="adpConnectionBox" id="adpConnectionBox" placeholder="Caixa de Ligação" class="input">
                        </div>
                    </div>
                    <div class="row col-4">
                        <div class="divInput row">
                            <label class="label" for="adpFan">Ventilador:</label>
                            <input type="text" name="adpFan" id="adpFan" placeholder="Ventilador" class="input">
                        </div>
                    </div>
                    <div class="row col-4">
                        <div class="divInput row">
                            <label class="label" for="adpDeflector">Defletora:</label>
                            <input type="text" name="adpDeflector" id="adpDeflector" placeholder="Defletora" class="input">
                        </div>
                    </div> 
                </div><!--End Div Input Adaptação -->
                <div class="row d-flex justify-content-around" style="margin-bottom: 10px;">
                    <div class="row lineLabel"></div><label class="txtLine" for="service1">1º Serviço Externo</label><div class="row lineLabel"></div>                 
                </div>
                <div class="row d-flex justify-content-around">
                <div class="row col-6">
                    <div class="divInput row">
                        <label class="label" for="packageLength">Terceiro 1º:</label>
                        <select class="input" id="third1" name="third1">
                            <option value="">Terceiro:</option>
                            <option value="Sergio">Sergio</option>
                            <option value="Toninho">Toninho</option>
                            <option value="Bertola">Bertola</option>
                            <option value="Marcelo">Marcelo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-around">
                <div class="row col-6">
                    <div class="divInput row">
                        <label class="label" for="packageLength">Tampa Dianteira 1º:</label>
                        <select class="input" id="serviceFrontCover1" name="serviceFrontCover1">
                            <option value="">Tampa Dianteira:</option>
                            <option value="Embuchar">Embuchar</option>
                            <option value="Adaptar Retentor">Adaptar Retentor</option>
                            <option value="Ambos">Ambos</option>
                            <option value="Orçamento">Orçamento</option>
                        </select>
                        <label class="label" for="packageLength">Ponta Dianteira 1º:</label>
                        <select class="input" id="serviceLeadingTip1" name="serviceLeadingTip1">
                            <option value="">Ponta Dianteira:</option>
                            <option value="Tornear">Tornear</option>
                            <option value="Chaveta">Chaveta</option>
                            <option value="Soldar Eixo">Soldar Eixo</option>
                            <option value="Orçamento">Orçamento</option>
                        </select>
                    </div>
                </div>
                <div class="row col-6">
                    <div class="divInput row">
                        <label class="label" for="packageLength">Tampa Traseira 1º:</label>
                        <select class="input" id="serviceBackCover1" name="serviceBackCover1">
                            <option value="">Tampa Traseira:</option>
                            <option value="Embuchar">Embuchar</option>
                            <option value="Adaptar Retentor">Adaptar Retentor</option>
                            <option value="Ambos">Ambos</option>
                            <option value="Orçamento">Orçamento</option>
                        </select>
                        <label class="label" for="packageLength">Solda Aluminio 1º:</label>
                        <select class="input" id="serviceAluminumSolder1" name="serviceAluminumSolder1">
                            <option value="">Solda Aluminio:</option>
                            <option value="Tampa">Tampa</option>
                            <option value="Orçamento">Orçamento</option>
                        </select>                  
                    </div> 
                </div>
            </div><!--End div Select -->
             <div class="row d-flex justify-content-around" style="margin-bottom: 10px;">
                    <div class="row lineLabel"></div><label class="txtLine" for="service2">2º Serviço Externo</label><div class="row lineLabel"></div>                 
                </div>
                <div class="row d-flex justify-content-around">
                <div class="row col-6">
                    <div class="divInput row">
                        <label class="label" for="packageLength">Terceiro 2º:</label>
                        <select class="input" id="third2" name="third2">
                            <option value="">Terceiro:</option>
                            <option value="Sergio">Sergio</option>
                            <option value="Toninho">Toninho</option>
                            <option value="Bertola">Bertola</option>
                            <option value="Marcelo">Marcelo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-around">
                <div class="row col-6">
                    <div class="divInput row">
                        <label class="label" for="packageLength">Tampa Dianteira 2º:</label>
                        <select class="input" id="serviceFrontCover2" name="serviceFrontCover2">
                            <option value="">Tampa Dianteira:</option>
                            <option value="Embuchar">Embuchar</option>
                            <option value="Adaptar Retentor">Adaptar Retentor</option>
                            <option value="Ambos">Ambos</option>
                            <option value="Orçamento">Orçamento</option>
                        </select>
                        <label class="label" for="packageLength">Ponta Dianteira 2º:</label>
                        <select class="input" id="serviceLeadingTip2" name="serviceLeadingTip2">
                            <option value="">Ponta Dianteira:</option>
                            <option value="Tornear">Tornear</option>
                            <option value="Chaveta">Chaveta</option>
                            <option value="Soldar Eixo">Soldar Eixo</option>
                            <option value="Orçamento">Orçamento</option>
                        </select>
                    </div>
                </div>
                <div class="row col-6">
                    <div class="divInput row">
                        <label class="label" for="packageLength">Tampa Traseira 2º:</label>
                        <select class="input" id="serviceBackCover2" name="serviceBackCover2">
                            <option value="">Tampa Traseira:</option>
                            <option value="Embuchar">Embuchar</option>
                            <option value="Adaptar Retentor">Adaptar Retentor</option>
                            <option value="Ambos">Ambos</option>
                            <option value="Orçamento">Orçamento</option>
                        </select>
                        <label class="label" for="packageLength">Solda Aluminio 2º:</label>
                        <select class="input" id="serviceAluminumSolder2" name="serviceAluminumSolder2">
                            <option value="">Solda Aluminio:</option>
                            <option value="Tampa">Tampa</option>
                            <option value="Orçamento">Orçamento</option>
                        </select>                  
                    </div> 
                </div>
            </div><!--End div Select -->
            <div class="row d-flex justify-content-around" style="margin-bottom: 10px;">
                    <div class="row lineLabel"></div><label class="txtLine" for="adaptation">Nº de Serie</label><div class="row lineLabel"></div>                 
            </div>
            <div class="row d-flex justify-content-around">
                <div class="divClient row">
                    <label class="label" for="serialNumber">Número de Serie:</label>
                    <input type="number" name="serialNumber" id="serialNumber" placeholder="Número de Serie" class="inputClient">
                </div>
            </div><!--End div Número de serie-->
            <div class="row d-flex justify-content-around" style="margin-bottom: 10px;">
                    <div class="row lineLabel"></div><label class="txtLine" for="adaptation">Observação</label><div class="row lineLabel"></div>                 
            </div>
            <div class="row d-flex justify-content-around">
                <div class="divArea row">
                    <label class="label" for="note">Observações:</label>
                    <textarea class="txtArea" id="note" name="note" rows="4" cols="50"></textarea>
                </div>
            </div>
             <div class="row d-flex justify-content-around" style="margin-bottom: 10px;">
                    <div class="row lineLabel"></div><label class="txtLine" for="adaptation">Responsavel</label><div class="row lineLabel"></div>                 
            </div>
            <div class="d-flex" style="justify-content:space-around ;"> 
                    <div class="divInput row">
                        <label class="label" for="client">Colaborador:</label>
                        <select class="input" id="collaborated" name="collaborated" required>
                            <option value="">Colaborador:</option>
                            <option value="Willian Pio">Willian Pio</option>
                            <option value="Andre Luiz">Andre Luiz</option>
                            <option value="Lucas Sentinella">Lucas Sentinella</option>
                        </select>
                    </div>
                    <div class="divInput row">
                        <label class="label" for="Data">Data:</label>
                        <input type="text" name="date" id="date" placeholder="Data" class="inputClient">
                    </div>
            </div>
            <br>
            <div class="row d-flex justify-content-around">
                <div class="row col-6">
                    <button type="button" class="button" onclick="window.location.href='/motor/search';"><i class="fa-solid fa-reply"></i></button>     

                </div>
                <div class="row col-6">
                    <div class="d-flex flex-row-reverse"><button type="submit" class="button"><i class="fa-solid fa-floppy-disk"></i> Salvar</button></div>
                </div>
            </div>   
        </form>
    </div>
</div>