<footer class="text-center text-white" id="rodape" style="background-color:#48c3f885">
  <!-- Grid container -->
  <div style="margin: 0px;">
    <!-- Section: Social media -->
    <section style="margin: 0px;">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.facebook.com/pg/empresasguimaraes/about/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.instagram.com/empresasguimaraes/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/company/empresasguimaraes/"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center" style="background-color: #134F70; color:white">
    © 2022 Copyright:
    <a href="https://www.empresasguimaraes.com.br/" style=" color:white;">Empresas Guimarães</a>
  </div>
  <!-- Copyright -->
</footer>