nav{
    background-color:#134F70;
}
.linkText{ 
    color: white ; 
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-decoration: none;
    
  }
  .linkText:hover {
    cursor: pointer;
    color:#134F70; 
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .txttitulo{
    margin-left: 5px;
    color: white;
  }